

body{
    background:#4cc9ec;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}

.box .title{
    line-height: 90px;
    background: #1fa2c6;
    border-radius: 7px 7px 0 0;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color:white;
}

h2{
    margin:0;
}

.row{
    height: 45px;
    margin-bottom: 10px;
    
}

.row input{
    height: 50%;
    width: 50%;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
}



.button input{
    width: 25%;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-left: 0;
    background: #1fa2c6;
    border: 1px solid #1fa2c6;
    cursor: pointer;
}

.button input:hover{
    background:#166f87;
}